<form class="row g-3" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12">
        <div class="form-group" [ngClass]="aplicaCssErro('nome')">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" name="nome" formControlName="nome" id="nome" placeholder="Nome"
                [class.is-invalid]="verificaValidTouched('nome')">
            <div *ngIf="verificaValidTouched('nome')" class="invalid-feedback">
                <p>Nome é obrigatório</p>
            </div>
        </div>

        <div class="form-group" [ngClass]="aplicaCssErro('email')">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com"
                [class.is-invalid]="verificaValidTouched('email')">
            <div *ngIf="verificaValidTouched('email')" class="invalid-feedback">
                <p>E-mail é obrigatório</p>
            </div>
        </div>
    </div>

    <div class="form-group row" formGroupName="endereco">
        <div class="col-md-2" [ngClass]="aplicaCssErro('endereco.cep')">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" formControlName="cep"
                [class.is-invalid]="verificaValidTouched('endereco.cep')" (blur)="consultaCEP()">
            <div *ngIf="verificaValidTouched('endereco.cep')" class="invalid-feedback">
                <p>CEP inválido</p>
            </div>
        </div>

        <div class="col-md-4" [ngClass]="aplicaCssErro('endereco.numero')">
            <label for="numero" class="form-label">Número</label>
            <input type="text" class="form-control" id="numero" name="numero" formControlName="numero"
                [class.is-invalid]="verificaValidTouched('endereco.numero')">
            <div *ngIf="verificaValidTouched('endereco.numero')" class="invalid-feedback">
                <p>Número é obrigatório</p>
            </div>
        </div>

        <div class="col-md-6">
            <label for="complemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="complemento" name="complemento" formControlName="complemento">
        </div>
    </div>

    <div class="form-group row" formGroupName="endereco">
        <div class="col-12" [ngClass]="aplicaCssErro('endereco.rua')">
            <label for="rua" class="form-label">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" formControlName="rua"
                placeholder="Apartment, studio, or floor" [class.is-invalid]="verificaValidTouched('endereco.rua')">
            <div *ngIf="verificaValidTouched('endereco.rua')" class="invalid-feedback">
                <p>Nome da rua é obrigatório</p>
            </div>
        </div>
    </div>

    <div class="form-group row" formGroupName="endereco">
        <div class="col-md-6" [ngClass]="aplicaCssErro('endereco.bairro')">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" formControlName="bairro"
                [class.is-invalid]="verificaValidTouched('endereco.bairro')">
            <div *ngIf="verificaValidTouched('endereco.bairro')" class="invalid-feedback">
                <p>Bairro é obrigatório</p>
            </div>
        </div>

        <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.cidade')">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" name="cidade" formControlName="cidade"
                [class.is-invalid]="verificaValidTouched('endereco.cidade')">
            <div *ngIf="verificaValidTouched('endereco.cidade')" class="invalid-feedback">
                <p>Cidade é obrigatório</p>
            </div>
        </div>

        <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.estado')">
            <label for="estado" class="form-label">Estado</label>
            <select class="form-control" id="estado" name="estado" formControlName="estado"
                [class.is-invalid]="verificaValidTouched('endereco.estado')">
                <option *ngFor="let estado of estados | async" [value]="estado.sigla"> {{ estado.nome }}</option>
            </select>
            <div *ngIf="verificaValidTouched('endereco.estado')" class="invalid-feedback">
                <p>Estado é obrigatório</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3" [ngClass]="aplicaCssErro('cargo')">
            <label for="cargo" class="form-label">Cargo</label>
            <select class="form-control" id="cargo" name="cargo" formControlName="cargo" [compareWith]="compararCargos">
                <option *ngFor="let cargo of cargos" [ngValue]="cargo"> {{ cargo.desc }}</option>
            </select>
        </div>

        <div class="col-md-3" [ngClass]="aplicaCssErro('tecnologias')">
            <label for="tecnologias" class="form-label">Tecnologias</label>
            <select multiple class="form-control" id="tecnologias" name="tecnologias" formControlName="tecnologias">
                <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome"> {{ tecnologia.desc }}</option>
            </select>
        </div>
   </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary d-inline-block me-2">Submit</button>
        <button type="button" class="btn btn-default" (click)="reset()">Cancelar</button>
        <button type="button" class="btn btn-info" (click)="setarCargo()">Cargo</button>
        <button type="button" class="btn btn-info" (click)="setarTecnologias()">Tecnologia</button>
    </div>
</form>

<div>
    <app-form-debug [form]="form"></app-form-debug>
</div>